body {
    margin:0px;
}

.container {
    display : flex;
    flex-flow: row wrap;
    justify-content: center;
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border-right: pink solid 2px;
    border-bottom: pink solid 2px;
    width: 400px;
    text-align: center;
    box-shadow: 4px 4px 4px #888888;
    margin-top: 10px;
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s ease-out;
}

img:hover {
    transform: scale(1.1);
}